.btn-primary {
  background-color: #f25eb0 !important;
  border: none;
}
.modal-footer {
  border: none;
  display: block;
  padding: 0.75rem 0;
  text-align: center;
}

.button-form {
  width: 100%;
  margin: 0;
}

:root {
  --primary-color: #bf26b5;
  --secondary-color: #bf2a97;
  --thirdy-color: #8a14d9;
  --fourth-color: #f25eb0;
}

body {
  font-family: Nunito, sans-serif;
}
