<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <%- include('../components/basics/navbar') %>
</header>
<body>
    <div class="main">
        <div class="container row mt-5">
            <% if(emprestimos){%>
                <%emprestimos.forEach((data)=>{%>
                    <div class="col mb-3">
                        <%- include('../components/cards/credito-detalhes', {data: data}) %>
                    </div>
                <%})%>
            <%}%>
        </div>
    </div>
</body>
</html>