<div class="contact text-center">
    <div class="container pt-3" id="sobre">
        <h3>Sobre Nós</h3>
        <hr id="white-hr">
    </div>
    <div class="text-center p-4">
        <p class="info"> 
            <span class="todxs">CréditoParaTodxs</span> é uma empresa 100% brasileira que vem crescendo cada vez mais no mercado. Contamos com simplicidade e transparência em todos os nosso serviços.</p>
        <p class="copyright">CréditoParaTodxs © - Todos os Direitos Reservados - 2021</p>
    </div>
</div>

<style>
    .contact{
        min-height: 200px;
        background-color: var(--thirdy-color);
    }

    .info{
        color: white;
    }

    .todxs{
        color: var(--fourth-color);
        font-size: 1.2rem;
        font-weight: 600;
    }

    h3{
        color: white;
    }

    #white-hr{
        background-color: white;
    }

    .copyright{
        font-size: 12px;
        color: white;
    }
</style>