<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=data.name%></h5>
    <p class="card-text"><%=data.description%></p>
    <p class="card-text text-muted"><%=data.tax%>% ao mês</p>
    <a href="#" class="btn btn-primary" data-id=<%=data.id%>>Contratar</a>
  </div>
</div>
